.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
    width: 301px;
  }
  
  .output {
    font-size: 40px;
    color: white;
    height: 45px;
    padding-left: 10px;
    padding-top: 3px;
  }
  
  html {
    background-color: cadetblue;
    align-content: center;
    margin-top: 100px;
  }
  
  button {
    background-color: white;
    font-family: "Big Shoulders Display", cursive;
    font-size: 20px;
    border-radius: 10px;
  }
  
  .font {
    font-family: "Big Shoulders Display", cursive;
    font-size: 20px;
  }
  
  .calculator {
    width: 300px;
    height: 500px;
    border: 10px solid;
    border-radius: 10px;
    background-color: black;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .screen {
    height: 50px;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  .mainScreen {
    width: 300px;
    border: 1px solid;
    background-color:black;
    border-radius: 10px;
  }
  
  .clear {
    background-color: grey;
    font-size: 25px;
  }
  
  .allClear {
    background-color: grey;
    font-size: 25px;
  }
  
  .equal {
    background-color: #ff7b00;
    font-size: 25px;
  }
  
  .operator {
    background-color: #ff7b00;
    
  }